<?xml version="1.0"?>


<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"  xsi:noNamespaceSchemaLocation="../../../Backend/etc/system_file.xsd">


    <system>
        <tab id = "sift" translate = "label" sortOrder = "10">
           <label>Sift Extension</label>
        </tab>

        <section id="transom" translate = "label" sortOrder="130" showInDefault = "1" showInWebsite = "1" showInStore = "1">
           <class>separator-top</class>
            <label>Sift Module</label>
            <tab>sift</tab>
            <resource>Transom_SiftModule::sift_config</resource>

            <group id="sift_config" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1" >
                <label>General Configuration</label>

                <field id="sift_account_id" translate="label" type="password" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Account ID</label>
                    <comment>Enter your Account ID, you can get it from Sift Console.</comment>
                </field>

                <field id="sift_api_key" translate="label" type="password" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>API Key</label>
                    <comment>Enter your API Key, you can get it from Sift Console.</comment>
                </field>

                <field id="sift_signature_key" translate="label" type="password" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Webhook Signature Key</label>
                    <comment>Enter your Webhook Signature Key, you can get it from Sift Console.</comment>
                </field>

                <field id="sift_gateway" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1" >
                    <label>Credit Card Payment Gateway</label>
                    <source_model>Transom\SiftModule\Block\Adminhtml\Index\Configuration\Gateway</source_model>
                </field>

                <field id="debug_enabled" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1" >
                    <label>Enable debug</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>

        </section>

    </system>
</config>