<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <transom>
            <sift_config>
                <debug_enabled>1</debug_enabled>
                <sift_api_key></sift_api_key>
                <sift_signature_key></sift_signature_key>
                <sift_account_id></sift_account_id>
                <sift_gateway>1</sift_gateway>
            </sift_config>
        </transom>
    </default>
</config>
